ul li {
    margin-right: 10px;
}
.nav-item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
  .profile-pic {
    width: 35px;
    height: 35px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  .nominee-pic {
    width: 60px;
    height: 60;
    position: relative;
    overflow: hidden;
    border-radius: 45px;
  }
  ul.nav a:hover { background-color: rgb(145, 199, 199) !important; }